<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Place Order</title>
		<link rel="shortcut icon" href="../assets/Logo.svg" type="image/x-icon" />
		<link rel="icon" href="../assets/Logo.svg" type="image/x-icon" />
		<style>
			.textarea {
				display: block;
				width: 100%;
				overflow: hidden;
				resize: both;
				min-height: 80px;
				line-height: 20px;
			}

			.textarea[contenteditable]:empty::before {
				content: "Your Address";
			}
		</style>
		<link rel="stylesheet" href="../dist/assets/index.f351cb3f.css" />
		<script src="placeOrder.js" defer></script>
	</head>
	<body class="bg-gray-100 min-h-screen flex items-center justify-center">
		<form
			onsubmit="return validatePlaceOrder()"
			method="POST"
			class="space-y-5 w-11/12 md:w-6/12 lg:w-5/12 xl:w-4/12 2xl:w-3/12 form"
			novalidate
		>
			<h1 class="text-3xl font-semibold text-center pb-10">Add your delivery address</h1>
			<div>
				<label for="name" class="font-medium mb-2"
					>Name <span class="font-medium text-red-600 ml-2 mb-2 name-error"></span
				></label>
				<input
					type="text"
					placeholder="Your Name"
					class="bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent text-blue-700 placeholder-gray-600 focus:placeholder-gray-400 transition-all px-4 py-3 w-full rounded-md shadow-lg name"
				/>
			</div>
			<div>
				<label for="number" class="font-medium mb-2"
					>Mobile Number <span class="font-medium text-red-600 ml-2 mb-2 number-error"></span
				></label>
				<input
					type="text"
					placeholder="Your Number"
					class="bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent text-blue-700 placeholder-gray-600 focus:placeholder-gray-400 transition-all px-4 py-3 w-full rounded-md shadow-lg number"
				/>
			</div>
			<div>
				<label for="pincode" class="font-medium mb-2"
					>PIN Code <span class="font-medium text-red-600 ml-2 mb-2 pin-error"></span
				></label>
				<input
					type="text"
					placeholder="Your PIN"
					class="bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent text-blue-700 placeholder-gray-600 focus:placeholder-gray-400 transition-all px-4 py-3 w-full rounded-md shadow-lg pin"
				/>
			</div>
			<div>
				<label for="address" class="font-medium mb-2">Address</label>
				<span
					class="bg-white border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent text-gray-600 focus:text-blue-700 transition-all px-4 py-3 w-full rounded-md shadow-lg textarea"
					role="textbox"
					contenteditable
				></span>
			</div>
			<button
				class="bg-blue-500 hover:bg-blue-700 transition-colors focus:outline-none text-white font-semibold uppercase py-3 w-full rounded-md shadow-lg"
			>
				Place Order
			</button>
			<h1 class="md:text-lg hidden success">
				<span class="text-green-500 font-semibold">Your order has been successfully placed.</span>
				Thank you for shopping with
				<span class="text-blue-700 font-semibold uppercase">Shopify</span>.
			</h1>
		</form>
	</body>
</html>
